html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
    --main-color: white;
    --secondary-color: #545454;
    --blue: #0F4AAA;
    --light-blue: #2377ff;
    --red: #ee3f1e;
    
}
/*
body{
   background-color: var(--main-color);
}
*/
.grid-wrapper {
    min-height: 100%;
        font-family: AtlasGroteskWeb,"Helvetica Neue",Helvetica,Arial,sans-serif;
        color:var(--secondary-color); 
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: auto;
        grid-template-areas: "logo   header"
                             "menu   main"
                             "empty  main"
                             "footer footer";
           
                        }  
#logo{
    justify-self:center;
    grid-area: logo;
}
h2, h3, h4{
  font-weight: 400
}

#big_header{
    font-size: 28px;
    font-weight: 300;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-area: header;
    align-self: center; 
    color:var(--blue);
}

input {
  height:30px;
  font-size:14px;
  width:100%;
  box-sizing: border-box; 
  border-radius:3px;
  border-width:1px;
  border-style:solid;
  border-color:transparent;
}
input[type="email"] {
  padding:2px 12px;
  margin-bottom:8px;
  border-color:#c9c9c9;
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.25);
}
input[type="submit"] {
  color:#fff;
  font-weight:bold;
  font-family:'Open Sans', sans-serif;
  border-color:#1c385c;
  box-shadow:inset 0 1px 0 #7fade7;
  text-shadow:0 -1px #34629f;
  background: linear-gradient(to top, #3e74bb 0, #4887dd 100%);
}
#newsletter {
  width:250px;
  height:150px;
  margin:0 auto;
  background:#fff;
  position:relative;
  border-radius:4px;
  z-index:20;
}
#newsletter:before {
  display:block;
  content:"";
  height:5px;
  width:100%;
  top:-20px;
  right:-20px;
  left:-20px;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
  background: repeating-linear-gradient(-225deg, #4782ce, #4782ce 12px, #fff 12px, #fff 24px, #ea222e 24px, #ea222e 36px, #fff 36px, #fff 48px);
}
#newsletter .seal {
  position:absolute;
  top:-1px;
  right:0;
}
#newsletter .seal:before,
#newsletter .seal:after {
  display:block;
  content:"";
  border:1px solid #dcdcdc;
  border-radius:50%;
  position:absolute;
}
#newsletter .seal:before {
  width:50px;
  height:50px;
  top:8px;
  right:8px;
}
#newsletter .seal:after {
  width:60px;
  height:60px;
  top:3px;
  right:3px;
}
#newsletter .seal i {
  position:absolute;
  font-size:24px;
  color:#afafaf;
  top:20px;
  right:22px;
  transform: rotate(12deg);
}
#newsletter form {
  padding:24px 20px 20px;
}
#newsletter form .title {
  font-size:24px;
  font-weight:100;
  color:#4783ce;
  margin-bottom:5px;
}

#menu{
       font-size: 1em;
       display: grid;
       grid-area: menu;
       justify-self: center;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        padding-top: 30px
       }
#menu>nav>span>a{
    text-decoration: none;
}

#empty{
    grid-area: empty;
}

.dropdown{
    padding-bottom:  90px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 30px;
    z-index: 1;
}

.dropdown-content li a {
    text-decoration: none;
    display: block;
    color:var(--light-grey);
    padding: 0;
    padding-bottom:1em;
  
}

#menu>nav>span>a, #main>div>a>h4, #menu>nav>a, #menu>span>a, #top>a>h4{
    text-decoration: none;
    display: block;
    padding: 0;
    color:var(--blue);
}

#here, #here>a, #menu>span>a:hover, 
.dropdown-content a:hover,
#menu>nav>span>a:hover {
    color:var(--light-blue);
}

.dropdown:hover .dropdown-content {
    display: block;
    list-style: none;}
  
#menu>nav>ul>li{ 
    display: block;
}

#main{
    font-size: 14px;
    grid-area: main;
    display: grid;
    padding-right: 2em;
    grid-gap:1em;
    padding-bottom: 2em;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "action publications";
}
.media {
  margin-bottom: 2em;
  border: 0.5px solid #444;
  padding: 1em;
}

.media > .title { grid-area: title; }
.media > .img { grid-area: img; }
.media > .content { grid-area: bd; }
.media > .footer { grid-area: ft; }

  .media .img {
    float: left;
    margin: 0 10px 0 0;
    width: 200px;
  }


  .media.media-flip .img {
    float: right;
    margin: 0 0 0 10px;
      width: 200px;
  }

  .media > * {
    margin: 0 0 0 160px;
  }

  .media.media-flip > * {
    margin: 0 160px 0 0;
  }

  @supports(display: grid ) {
    /* override */
    .media > *,
    .media.media-flip > * {
      margin: 0;
    }
    .media .img,
    .media.media-flip .img {
      width: auto;
      margin: 0;
    }

.media {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 300px 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "img title"
        "img bd";
    }

    .media.media-flip {
      grid-template-columns: 3fr 300px ;
      grid-template-areas:
        "title img"
        "bd img";
    }

    
img {
  max-width: 100%;
}

h2{
  color: var(--red);
  }
#main>div>h3, #main_learn>div>h4, #main_learn>div>h3, .title{
    color:var(--blue); 
}

#main>div>p>a, .content>p>a{
   color:var(--light-blue); 
}

#main>div>img, #main>div>a>img{
    max-width: 400px;
    height: auto
}

#main_learn{
    font-size: 14px;
    grid-area: main;
    display: grid;
    padding-right: 20px;
    grid-gap:10px;
    padding-bottom: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

#main>div>p, #main>div>span, #main_learn>div>p{
  max-width: 90%;
  padding-right: 10%;
  line-height: 1.5em; 
}
}
#legend{
  font-size:12px;
}

#footnotes{
  font-size: 12px;
}
sup{
  font-size: 12px;
  color:var(--blue)
}

#footer{
    align-self: end;
    min-height: 40px;
    font-size: 14px;
    color:var(--secondary-color);
    grid-area: footer;
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: auto;
    
}

#footer>span{
    align-self: center;
    justify-self: center;
    margin: 15px;
}

.show-menu {display:none}

input[type=checkbox]{
    display: none;
}
@media only screen and (max-width: 1050px){
img {
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
 .title{
  text-align: center;
    }
    .media > *, .media.media-flip > *{
        margin-bottom: 20px;
    }
  #main>div>p, #main>div>span, #main_learn>div>p,#main_learn>div>h2, #main_learn>div>h3,#main_learn>div>h4 {
  max-width: 90%;
  padding-right: 0;
  margin: auto;
  padding:5%;
  line-height: 1.5em;  
}
  
.media, .media.media-flip {
display: grid;
grid-template-columns: 1fr;
grid-auto-rows: auto;
grid-column-gap: 2em;
grid-template-areas:
    "title"
    " img "
    " bd ";
}
    
.media>.img {
    clear: left;
    
  }
 h2{
   font-size: 20px;
  }
 h3{
   font-size: 16px;
    }

@media only screen and (max-width: 900px){
    .grid-wrapper {
        display:grid;
        grid-gap: 2px;
        grid-template-columns:1fr;
        grid-template-rows: auto;
        
        grid-template-areas: "logo"
                             "header"
                             "button"
                             "menu"
                             "main"
                             "footer"
    }
    
 
    #logo>img{
        max-width: 100px;
        height: auto
    }
    #header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        padding: 0;
        font-size: 22px;
    }
    #header>span, #header>p{
        letter-spacing: normal;
        text-align: center;
    }
    
  #newsletter {
  z-index: 0;
  width:180px;
  height:150px;
  }
  #newsletter form {
  padding:14px 10px 10px;
}
#newsletter form .title {
  font-size:18px;
  font-weight:100;
  color:#4783ce;
  margin-bottom:5px;
}
    
.show-menu {
    display: block;
    grid-area: button;
    text-decoration: none;
    font-size: 12px;
    color: orangered;
    background-color: rgba(255,255,255, 0.9);
    text-align: center;
    z-index: 2;
        position: sticky;
        top:0;
        font-size:18px;
        padding:1em;
        z-index: 1;
    transition: all 0.4s ease-in-out;

}
  
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    justify-self:end;
    display: grid;
    transform: translateX(340px);
}

#menu {
        position: fixed;
        z-index: 1;
        display:grid;
        background-color: var(--main-color);
        padding: 7px;
        font-size:14px;
        top: 0;
        bottom: 0;
        width: 150px;
        left: -340px;
        transition: transform .3s ease-in-out;
    }
    
    .dropdown-content{
        min-width: 20px;
        padding: 0;
    }
   
    #menu>ul>li>a, #menu>nav>span{
        padding:0
    }
    
    #main {
    font-size: 14px;
    grid-area: main;
    display: grid;
        padding: 1em;
        justify-self:center;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "action"
            "publications"
        }
    
    #footer{
        display:grid;
        grid-template-columns: auto;
    }

     
}
